<div class="main">
    <nav class="navbar navbar-dark bg-primary pr">
        <H1>Pricing</H1>
    </nav>
<div class="row">
    <div class="col">
        <p>Yearly Plan</p>
        </div><div class="col"><mat-slide-toggle class="toggle"></mat-slide-toggle></div> 
       <div class="col"><p class="month">Monthly Plan</p></div>
  
</div>

    <div class="row">
        <div class="col-md-4">
            <div class="first left">
                <h2>Package name</h2>
                <h2>$/Month</h2>
                <button routerLink="/one" style="background-color: green">Contact us</button>
                <br>
                <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo delectus hic eum non alias asperiores
                impedit nobis labore illum quos.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="first1 left">
                <h2 class="name">Package name</h2>
                <h2 class="name">$/Month</h2>
                <button style="background-color: green">Contact us</button>
                <br>
                    <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo delectus hic eum non alias asperiores
                impedit nobis labore illum quos.
                    </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="first2 left">
                <h2>Package name</h2>
                <h2>$/Month</h2>
                <button style="background-color: green">Contact us</button>
                <br>
                <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo delectus hic eum non alias asperiores
                impedit nobis labore illum quos.
                </p>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>