<!-- <form>
    <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email" name="email" [(ngModel)]="employee.email">
</div>
<div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="Password"
        [(ngModel)]="employee.password">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Business Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Business Name" name="businessName" [(ngModel)]="employee.businessName">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Business Email</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Business Email" name="businessEmail" [(ngModel)]="employee.businessEmail">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Mobile No.</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Mobile No." name="mobileno" [(ngModel)]="employee.mobileno">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="First Name" name="firstname" [(ngModel)]="employee.firstname">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Last Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="LastName" name="lastname"
                [(ngModel)]="employee.lastname">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Address</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Address" name="address"
                [(ngModel)]="employee">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">City</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="City" name="city"
                [(ngModel)]="employee.city">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Country</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Country" name="country"
                [(ngModel)]="employee.country">
        </div>
</form> -->
<div class="main1">
<table class="table1">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Email</th>  
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employee">
            <td>{{emp.id}}</td>
            <td>{{emp.email}}</td>      
            <td>{{emp.password}}</td>  
        </tr>
    </tbody>
</table>
<table class="table">
    <thead class="thead-dark">
    <tr>
       <th>Id</th>
       <th>Address</th>
       <th>Business Email</th>
       <th>Business Name</th>
       <th>City</th>
       <th>Country</th>
       <!-- <th>Email</th> -->
       <th>Mobile Number</th>
       <th>Name</th>
       <!-- <th>Password</th> -->
       <th>State</th>
       <th>First Name</th>
       <th>Last Name</th> 
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employee">
        <td>{{emp.id}}</td>
        <td>{{emp.address}}</td>
        <td>{{emp.businessEmail}}</td>
        <td>{{emp.businessName}}</td>
        <td>{{emp.city}}</td>
        <td>{{emp.country}}</td>
        <!-- <td>{{emp.email}}</td> -->
        <td>{{emp.mobileno}}</td>
        <td>{{emp.name}}</td>
        <!-- <td>{{emp.password}}</td> -->
        <td>{{emp.state}}</td>
        <td>{{emp.firstname}}</td>
        <td>{{emp.lastname}}</td>     
      </tr>
    </tbody>
</table>
<button routerLink="/final">Next</button>
</div>