
<!-- <div class="container">
    <h2 class="mt-5 mb-4">Angular Stripe Checkout Example</h2>
    <div class="col-md-5 mb-2">
        <button (click)="makePayment(15)" class="btn btn-danger btn-block">Pay $15</button>
    </div>
    <div class="col-md-5 mb-2">
        <button (click)="makePayment(25)" class="btn btn-primary btn-block">Pay $25</button>
    </div>
    <div class="col-md-5">
        <button (click)="makePayment(35)" class="btn btn-success btn-block">Pay $35</button>
    </div>
</div> -->
<div class="main">
<div class="container">
    <h1>Payment Page | Best Payment Plugin for Stripe & PayPal</h1>
<img src="http://www.tamiu.edu/adminis/comptroler/images/payonline.png">
<button (click)="pay()" >Pay</button>
<!-- <button></button> -->
</div>
<button class="center" routerLink="/back" (click)="onclick()">Next</button>
</div>